.get-help-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  height: calc(100vh - 120px); /* full screen minus navbar height */
  overflow-y: auto; /* enable vertical scrolling */
  background-color: rgba(46, 46, 46, 0.8);
  border-radius: 10px;
}


.get-help-title {
  font-size: 2rem; /* slightly smaller */
  text-align: center;
  color: #28a745;
  margin-bottom: 10px;
}

.get-help-description {
  text-align: center;
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
}

.help-section {
  background-color: #3a3a3a;
  padding: 15px 20px;
  border-radius: 10px;
  border-left: 5px solid #28a745;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.help-section h2 {
  color: #28a745;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.help-section ul {
  list-style-type: none;
  padding-left: 0;
}

.help-section li {
  margin-bottom: 8px;
  font-size: 0.95rem;
  color: #eeeeee;
}

.help-section a {
  color: #28a745;
  text-decoration: none;
  font-weight: bold;
}

.help-section a:hover {
  text-decoration: underline;
}
